.hero
  padding-top: 20em
  padding-bottom: 200px
  text-align: center
  background: #e3e3e3

.logo
  font-family: "Stockholm"
  font-size: 19.5em
  margin-bottom: -80px

.sub-logo
  font-size: 3.5em
  font-weight: 200
