<!doctype html>
<html>
  {% include head.html %}
  <body>

    {% include nav.html %}

    <main class="container" id="panel">

      <header>
        <div class="page-title">
          <h1>{{ page.title }}</h1>
        </div>
        <button class="toggle-button icon-menu-icon"></button>
      </header>


      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </main>


    <script src="assets/js/slideout.min.js"></script>
    <script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'side': 'right'
      });

      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
    </script>
  </body>
</html>
